<div class="row">
  <div class="span8" >
    <%= form_for(@activite) do |f| %>
  <% if @activite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activite.errors.count, "error") %> prohibited this activite from being saved:</h2>

      <ul>
      <% @activite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well" id = "form_new">
    <%= f.label :activité %>
    <%= f.text_field :title %>
  
  
    <%= f.label :Contenu %>
    <%= f.text_area :content %> 
 
  <br><br>
    <%= f.submit "Créer l'activité" %>
  </div>
<% end %>
  </div>
</div>


